body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
}
.master-header{
    width:50%; 
    background-color: honeydew;
    height: 25px; 
    margin-top: 5px;
    position: fixed; 
    padding: 5px;
}
.nav,ul {
    list-style: none;
    margin: 0 auto; 
    display: block; 
}
.nav, li{
float: left; 
padding: 0 5px; 
}
.nav, li ,a {
    text-decoration: none;
}
.search {
    float: right;
    padding-bottom: 15px;
    margin-right: 30px;
}

.container {
    width: 570px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.thumbnail{
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 10px gray ;
}

.bold-text {
    font-weight: 900;
    display: block;
}

h1 .bold-text {
    font-size: 100px;
}

h2 .bold-text {
    font-size: 60px;
}

h1,
h2 {
    font-weight: 300; 
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
}

a {
    color: #99D930;
    font-weight: 900;
}

a:hover,
a:focus {
    color: #131313;
}

.small-text {
    font-size: 16px;
} 

header,
section, footer{
    padding: 50px 0;
}


table, th, td {
  border: 1px solid black;
  align-content: auto;
  }

.about-updates{
  background: lightblue; 
}
.articles {
  background: grey; 

.schedule{
    padding: 25px;
}
.tables{
    position: absolute; 
    float: inline-start;
}

}
.footer-section{
    position: relative; 
    padding: 50px;
    background-color:black; 
    color: white; 
}
.Col-1{
    width: 66%;
    display: inline-block;
    
}
.Col-2{
    width: 33%;
    display: inline-block;
    
}
